@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background-color: rgb(194, 191, 191);
    text-align: center;
    margin: 0 auto;
}

header {
    display: block; /* this displays like flexible */
    background-color: lightblue; 
    align-items: center; 
    justify-content: flex-end;
    padding-bottom: 10px;
}

header h1 {
    margin: 0 auto;
    padding: 40px;
}

nav {
    padding-bottom: 10px;
    font-size: 22px;
}
nav a {
    display: none;
}
.menu-btn {
    margin-bottom: 20px;
    background: none;
    border: none;
    cursor: pointer; /* helps it know that you can click on it*/
    font-size: 20px;
}

.gallery {
    grid-template-columns: 1fr;
}

.gallery img {
    width: 350px;
    height: auto;
    margin: 10px;
    border: 5px solid white;
    box-shadow: 4px 4px 15px 4px;
}

dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}

.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

footer {
    background-color: lightblue;
    padding-top: 5px;
    height: 50px;
    font-size: 20px;
}

.show {
    display: block;
}

@media screen and (min-width: 700px) {
    
    .show {
        display: inline;
    }
    nav {
        text-align: center;
    }

    nav a {
        display: inline;
    }

    main {
        grid-template-columns: 1fr 1fr; 
    }
    
    .menu-btn {
        display: none;
    }

}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav {
        display: block;
        /* text-align: center; */
    }

    dialog img {
        width: 60%;
        margin: 15vh auto;
    }

    .close-viewer {
        position: absolute;
        right: 15vh;
    }

    .viewer {
        margin: 50px;
        padding: 50px;
    }

    .viewer img {
        max-width: 800px;
    }

    /* h1 {
        display: inline;
    } */


}