@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Noto+Serif&family=Quicksand&family=Raleway:wght@100;400&family=Roboto+Mono:wght@100&display=swap');

:root{
    --heading-font: "Noto";
    --paragraph-font: "Quicksand", monospace;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    margin: 0;
    background-image: url("../images/house.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}
.home-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: auto;
    background-color: black;
}
.home-content * {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
}

@media only screen and (min-width: 700px){
    .home-content{
        width: 70%; 
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
footer{ 
  background-color: #780E0E;
  color: #fcfcfc;
  padding: 25px 50px;
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p{
  font-size: 1.2em;
}

footer p a:hover{
  text-decoration: underline;
}

footer a{
  color: #fcfcfc;
  text-decoration: none;
}

footer a:hover{
  color: #0EA57D;
}

footer img{
  display: inline;
  margin: auto;
  width: 50px;
  padding-top: 15px;
}
