@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Noto+Serif&family=Quicksand&family=Raleway:wght@100;400&family=Roboto+Mono:wght@100&display=swap');

:root{
    --heading-font: "Noto";
    --paragraph-font: "Quicksand", monospace;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    margin: 0;
}

header{
    background-color: rgba(0,0,0,0.5);
    color: #0EA57D;
    display: grid;
    grid-template-columns: 160px auto;
    font-family: "Noto";
}

nav{
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}

nav a{
    text-align: center;
    color: #fcfcfc;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #0FA8A1;
    color: #1A6073;
    text-decoration: underline;
}

.logo{
    width: 80px;
    display: inline;
    margin-right: auto;
}

#logo_link{
    padding-top: 5px;
    justify-content: center;
    align-self: center;
}

.home-image{
    width: 100%;
    margin-top: -150px;
    z-index: -1;
    position: absolute;
    /* height: 400px; */
}

#top-message{
    text-align: center;
    color: #fcfcfc;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.message-on-image{
    grid-column: 1/4;
    grid-row: 2;
    font-size: 60px;
}

/* #image-under-topmsg{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
} */

.house-with-couch{
    grid-column: 2/4;
    grid-row: 1;
}

main section{
    text-align: center;
}

.home-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-row: 1fr 1fr 1fr 1fr; */
}

.msg{
    grid-column: 1/4;
    grid-row: 2/4;
    font-family: "Quicksand";
    text-align: center;
    font-size: 20px;
}

h2{
    margin-top: 10% ;
    color: #0EA57D;
}

p{
    line-height: 45pt;
    /* color: #780E0E; */
}

footer{ 
    background-color: #780E0E;
    color: #fcfcfc;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

footer a{
    color: #fcfcfc;
    text-decoration: none;
}

footer a:hover{
    color: #0EA57D;
}

footer img{
    display: inline;
    margin: auto;
    width: 50px;
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    /* #top-image, */

    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
}