@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Noto+Serif&family=Quicksand&family=Raleway:wght@100;400&family=Roboto+Mono:wght@100&display=swap');

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 900px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #780E0E;
    border-radius: 1em;
  }

  .background-image{
    /* The image used */
    background-image: url("../images/living-room2.avif");
  
    /* Control the height of the image */
    min-height: 500px;
    /* max-width: fit-content; */
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  p{
    color: black;
    font: 1.6em lobster;
    text-align: center;
    margin-bottom: 5%;

  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 80px;
    text-align: right;
    color: #780E0E;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
    color: #09513e;
  
    /* Uniform text field size */
    width: 800px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 2px solid #0EA57D;

    padding: 10px;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #0EA57D;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
 
#feedback {
    background-color: #0FA8A1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

footer {
  background-color: #780E0E;
  color: #fcfcfc;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p {
  font-size: 1.2em;
  color: white;
}

footer a {
  color: #fcfcfc;
  text-decoration: none;
}

footer a:hover {
  color: #0EA57D;
}

footer img {
  display: inline;
  margin: auto;
  width: 50px;
  padding-top: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Noto+Serif&family=Quicksand&family=Raleway:wght@100;400&family=Roboto+Mono:wght@100&display=swap');

:root{
  --heading-font: "Lobster";
  --paragraph-font: "Lobster", Serif;
}

#content{
  max-width: 1600px;
  margin: 0 auto;
}

body{
  margin: 0;
  background-color: black;
}

h2{
  margin-top: 25px;
  text-align: center;
  margin-left: 35px;
  margin-top: 5%;
}

.header{
  background-color: rgba(0,0,0,0.5);
  color: #0EA57D;
  display: grid;
  grid-template-columns: 160px auto;
  font-family: "Raleway";
}

nav{
  display: flex;
  justify-content: space-around;
  font-size: x-large;
}

nav a{
  text-align: center;
  color: #fcfcfc;
  text-decoration: none;
  padding: 35px;
}

nav a:hover{
  background-color: #0FA8A1;
  color: #1A6073;
  text-decoration: underline;
}

.logo{
  width: 80px;
  display: inline;
  margin-right: auto;
}

#logo_link{
  padding-top: 5px;
  justify-content: center;
  align-self: center;
}

.desktop-nav{
    display: none;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    transition: .4s;
}

.change .bar1 {
    transform: translate(0, 7.5px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.mobile-nav{
    display: flex;
    flex-direction: column;
}

.hide{
    display: none;
}
@media screen and (min-width: 700px) {
  /* .text {font-size: 11px} */
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  nav {
    display: flex;
    text-align: center;
    /* display: flex; */
    flex-direction: row;
  }

  nav a {
    /* display: inline; */
    border: none;
    text-align: right;
  }
  .desktop-nav{
    display: flex;
}

  .menu-btn {
    display: none;
  }

  .hide {
    display: block;
  }
  .mobile-nav{
    display: none;
}

}