@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Noto+Serif&family=Quicksand&family=Raleway:wght@100;400&family=Roboto+Mono:wght@100&display=swap');

:root{
  --heading-font: "Noto";
  --paragraph-font: "Lobster", Serif;
}

#content{
  max-width: 1600px;
  margin: 0 auto;
}

body{
  margin: 0;
}

header{
  background-color: rgba(0,0,0,0.5);
  color: #0EA57D;
  display: grid;
  grid-template-columns: 160px auto;
  font-family: "Noto";
  /* z-index: 4; */
}

nav{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: x-large;
  z-index: 3;
}

/* nav a{
  text-align: center;
  color: #fcfcfc;
  text-decoration: none;
  padding: 35px;
}

nav a:hover{
  background-color: #0FA8A1;
  color: #1A6073;
  text-decoration: underline;
} */

nav a {
  padding: 20px;
  color: #fcfcfc;
  text-decoration: none;
  text-align: center;
  /* display: flex; */
  flex-direction: column;
  border-top: 1px solid gray;
  /* display: none; */
}

.hide {
  display: none;
}

nav a:hover {
  text-decoration: none;
  color: #0FA8A1;
}

.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    transition: .4s;
}

.change .bar1 {
    transform: translate(0, 7.5px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.logo{
  width: 80px;
  display: inline;
  margin-right: auto;
  /* z-index: 3; */
}

#logo_link{
  padding-top: 5px;
  justify-content: center;
  align-self: center;
}

/* #top-image{
  z-index: -4;
} */

#service-offer-image-img{
  width: 100%;
  margin-top: -250px;
  z-index: -1;
  position: absolute;
}

#top-message{
  text-align: center;
  color: #0FA8A1;
  font-size:xx-large;
}

.message-on-image{
  margin-top: 150px;
  margin-bottom: 30px;
  font-family: "Noto";
  font-size: 40px;
}

h4{
  color: #fcfcfc;
  margin-top: 60px;
  font-family: "Raleway";
  font-size: 35px;
}

.paragraph{
  text-align: center;
  font-size: xx-large;
  color: #780E0E;
}

/* main {
  display: grid;
  grid-template-columns: 1fr;
} */

/* Slideshow container */
.slideshow-container {
  max-width: 30%;
  position: relative;
  margin: auto;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #780E0E;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

footer{ 
  background-color: #780E0E;
  color: #fcfcfc;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p{
  font-size: 1.2em;
}

footer p a:hover{
  text-decoration: underline;
}

footer a{
  color: #fcfcfc;
  text-decoration: none;
}

footer a:hover{
  color: #0EA57D;
}

footer img{
  display: inline;
  margin: auto;
  width: 50px;
  padding-top: 15px;
}

@media screen and (min-width: 700px) {
  /* .text {font-size: 11px} */
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  nav {
    text-align: center;
    /* display: flex; */
    flex-direction: row;
  }

  nav a {
    /* display: inline; */
    border: none;
    text-align: right;
  }

  .menu-btn {
    display: none;
  }

  .hide {
    display: block;
  }

}