.title-logo {
    display: flex;
    justify-content: center;
}

#logo {
    width: 70px;
    height: 60px;
}

#title {
    font-size: 40px;
}

.search-bar {
    display: flex;
    width: 84%;
    height: 30px;
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 4px;
}

.search-bar input {
    width: 100%;
    border: none;
    border-right: 2px solid grey;
}

#para-apple {
    display: none;
}

.search-bar img {
    padding: 3px;
}

#recipe-with-rating {
    display: flex;
    border: 2px solid grey;
    flex-direction: column;
    /* max-width: fit-content; */
    width: 84%;
    border-radius: 2px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
}

.recipes img {
    width: 300px;
    height: 300px;
    padding: 5px;
    justify-content: center;
    margin: 0 auto;
    display: block;
}

h2 {
    color: rgb(26, 145, 230);
}

.social img {
    width: 30px;
    height: 45px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.social-freepik {
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 700px) {
   #recipe-with-rating {
    display: grid;
    grid-template-columns: 1fr 2fr;
   } 
    #para-apple {
        display: inline;
    }

    .social-freepik {
        margin: 10px auto;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}